<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.sound.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="utf-8" />
    <style>
        html, body {
            margin: 0;
            padding: 0;
        }
        canvas {
            display: block;
        }

    </style>
  </head>
  <body>
<script src="/socket.io/socket.io.js"></script>
<script>

    const domain = (new URL(window.location.href));
    const socket = io(domain.host);
    let dx=0;
    let dy=0;
    let dz=0;

    socket.on("connect", () => {
        socket.emit("ID", "gyro-display");
        console.log("CONNECTION");
    })

    socket.on("gyro-raw", (x,y,z) => {
        dx = x;
        dy = y;
        dz = z;
    })
</script>
<script>

function setup() {
    createCanvas(windowWidth, windowHeight, WEBGL);
}

function draw() {
    background(255);
    normalMaterial();
    translate(-240, -100,0);
    push()
    rotateX(dx *0.1)
    rotateY(dz *0.1)
    rotateX(dy *0.1)
    box( 180, 30, 180)
    pop()
}
    </script>
  </body>
</html>
